$color-lightblue : #7eaae9;
$color-green : #38b249;
$color-red  : #f09080;
$color-black :#3e3f42;
$color-grey : #afb0b2;
$color-lightgrey : #9ea0a5;
$color-lightblack : #909093;
$color-pureblack : #616265;
$color-darkblue : #1665d8;



$fa-fa-blackcolor : #b2b3b7;
$fa-fa-bluecolor : #4887e1;
$fa-fa-greycolor :#a9aaae;
$fa-fa-redcolor :#ee8471;
$fa-fa-greencolor : #74c57f;

$border-color : #f4f5f9;

$background-blue-chartvert :#1565d8;
$background-blue-charthori  : #679be6;


$background-white : #ffffff;
$background-margin : #fbfbfd;


$background-yellow-line : #fbe4a0;
$background-blue-line   : #3f81de;
$background-green-line  : #99d4a1;
$background-violet-line : #8479f6;
$background-lightblue-line : #5c94e5;

